
.Puntos {
    display: none;
    .points-group {

        .rectangle-group {
            display: none;
        }
        
        .circle-group {
            display: none;
        }

        .frame-group {
            display: none;
        }
    }
}

.Evolutivo {
    display:none;
}